.product-error {
  margin-top: 72px;
}

.product-details-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 10% auto 30% ;
  margin: 0 auto;
  gap: 32px;
  justify-content: stretch;
  margin-top: 64px;
}

.product-detail-brand {
  font-weight: bolder;
}

.product-detail-name {
  font-weight: 200;
}

.main-pic {
  overflow: hidden;
  width: 40vw;
  margin: 0 auto;
  padding: 16px;
}

.small-pic {
  width: 60px;
  height: 60px;
  object-fit: cover;
  overflow: hidden;
  padding: 16px;
}

.product-details-info-container {
  display: flex;
  flex-direction: column;
}

.product-attribute-button {
  border: 1px solid $graphite;
  padding: 4px;
  list-style-type: none;
  min-width: 40px;
  text-align: center;
}

.product-attribute-button:hover {
  background-color: $graphite;
  color: white;
  font-weight: bolder;
}

.product-attribute-buttons-container {
  display: flex;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-top: 4px;
  gap: 12px;
}

.product-attribute {
  font-weight: bolder;
  display: flex;
  margin-top: 12px;;
  font-size: 12px;
}

.product-color-button {
  list-style-type: none;
  width: 24px;
  height: 24px;
}

.product-color-button:hover {
  border: 1px solid $light-green;
  margin: -2px;
}

.product-attribute-price {
  font-weight: bolder;
}

.add-to-cart-btn {
  background-color: $light-green;
  border: 1px solid $light-green;
  font-weight: bolder;
  color: white;
  padding: 12px;
  margin-top: 32px;
  width: 80%;
  border-radius: 4px;
  cursor: pointer;
}

.product-description {
  font-size: 12px;
  margin-top: 32px;
  width: 80%;
}

.selected.product-color-button {
  border: 1px solid $light-green;
  margin: -2px;
}

.selected.product-attribute-button {
  background-color: $graphite;
  color: white;
  font-weight: bolder;
}

.btn-clicked:active {
  background-color: $middle-green;
}

.add-to-cart-btn:disabled {
  background-color: $grey-green;
  border: none;
}
