.checkout-button {
  font-size: 12px;
  box-shadow: 1px 1px 16px 1px $light-grey;
  margin: 32px 8px 8px 8px;
  background-color: $light-green;
  border: 1px solid $light-green;
  font-weight: bolder;
  color: white;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
}

.trolley-content {
  background-color: white;
  z-index: 3;
  width: 280px;
  padding: 12px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 200px;
  top: 59px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    overflow-y: scroll;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $light-green;
    border-radius: 10px;
  }
}

.hidden-trolley {
  display: none;
}

.trolley-buttons-container {
  display: flex;
  justify-content: space-between;
}

.view-bag-button {
  margin: 32px 8px 8px 8px;
  font-size: 12px;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
  border: 1px solid $graphite;
}

.trolley-products {
  .checkout-product-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 160px 4px 100px;
    gap: 8px;
    justify-content: stretch;
  }
 .checkout-picture-container {
    display: flex;
    justify-self: end;
  }
 .checkout-pic {
    height: auto;
    align-items: center;
    object-fit: cover;
    max-height: 300px;
    overflow: hidden;
  }
  .product-attribute-button {
    border: 1px solid $graphite;
    padding: 4px;
    list-style-type: none;
    min-width: 12px;
    text-align: center;
    font-size: 8px;
  }
  .product-color-button {
    list-style-type: none;
    width: 12px;
    height: 12px;
  }
  .product-attribute-price {
    font-size: 12px;
  }
  h3, h2 {
    font-size: 16px;
    font-weight: lighter;
  }
  .checkout-buttons-container {
    padding: 4px 0 4px 0;
  }
  .line-break {
    display: none;
  }
}

.total-price {
  margin-top: 32px;
  font-weight: bold;
}

.trolley-products-container {
  margin-top: 32px;
}

.trolley-quantity-counter {
  font-size: 8px;
  color: white;
  font-weight: bolder;
  border: 1px solid $graphite;
  background-color: $graphite;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  margin: -10px 0 0 -10px;
}

.scrollbar {
  overflow: scroll;
}
