.order-btn {
  background-color: $light-green;
  border: 1px solid $light-green;
  font-weight: bolder;
  color: white;
  padding: 12px 48px 12px 48px;
  margin-top: 32px;
  width: 80%;
  border-radius: 4px;
  width: fit-content;
}

.cart-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
